## Creating .smi file for descriptor calculation

In [1]:
import pandas as pd
import os

In [3]:
df = pd.read_csv("alt_inactive_final.csv")
df

,cid,cmpdname,CanonicalSMILES,activity
0,647846,1-[2-[(3-cyano-8-methylquinolin-2-yl)amino]eth...,CC1=C2C(=CC=C1)C=C(C(=N2)NCCNC(=O)NC3CCCCC3)C#N,Inactive
1,649054,"butyl 2-[[5-(3,4,5-trimethoxyphenyl)-1,3,4-oxa...",CCCCOC(=O)CSC1=NN=C(O1)C2=CC(=C(C(=C2)OC)OC)OC,Inactive
2,657803,"6-chloro-2-(5-chloro-1-methylimidazol-2-yl)-2,...",CN1C(=CN=C1C2CC(=O)C3=C(O2)C=CC(=C3)Cl)Cl,Inactive
3,6603435,"2-hexyl-2-azatricyclo[7.3.0.03,7]dodeca-1(9),3...",CCCCCCN1C2=C(CCC2)C(=N)C3=C1CCC3.Br,Inactive
4,661810,1-[3-amino-6-thiophen-2-yl-4-(trifluoromethyl)...,CC(=O)C1=C(C2=C(S1)N=C(C=C2C(F)(F)F)C3=CC=CS3)N,Inactive
...,...,...,...,...
124,2405263,[2-(methylamino)-2-oxoethyl] 2-(4-chloro-3-nit...,CNC(=O)COC(=O)C1=CC=CC=C1C(=O)C2=CC(=C(C=C2)Cl...,Inactive
125,2124454,"(3,5-dimethyl-1,2-oxazol-4-yl)methyl 5,6-dichl...",CC1=C(C(=NO1)C)COC(=O)C2=CC(=C(N=C2)Cl)Cl,Inactive
126,1357612,"2-(3,5-dimethylphenoxy)-1-[4-(2-methoxyphenyl)...",CC1=CC(=CC(=C1)OCC(=O)N2CCN(CC2)C3=CC=CC=C3OC)C,Inactive
127,6362905,(NZ)-N-[4-chloro-3-(3-chloropropyl)-5-formyl-1...,C1=CC=C(C=C1)S(=O)(=O)N=C2N(C(=C(S2)C=O)Cl)CCCCl,Inactive
128,5094436,"[2-oxo-2-(3-oxo-4H-1,4-benzoxazin-6-yl)ethyl] ...",C1C(=O)NC2=C(O1)C=CC(=C2)C(=O)COC(=O)C3=CC(=C(...,Inactive

In [4]:
df = df.drop(['cmpdname', 'activity'], axis = 'columns')
df

         cid                                    CanonicalSMILES
0     647846    CC1=C2C(=CC=C1)C=C(C(=N2)NCCNC(=O)NC3CCCCC3)C#N
1     649054     CCCCOC(=O)CSC1=NN=C(O1)C2=CC(=C(C(=C2)OC)OC)OC
2     657803          CN1C(=CN=C1C2CC(=O)C3=C(O2)C=CC(=C3)Cl)Cl
3    6603435                CCCCCCN1C2=C(CCC2)C(=N)C3=C1CCC3.Br
4     661810    CC(=O)C1=C(C2=C(S1)N=C(C=C2C(F)(F)F)C3=CC=CS3)N
..       ...                                                ...
124  2405263  CNC(=O)COC(=O)C1=CC=CC=C1C(=O)C2=CC(=C(C=C2)Cl...
125  2124454          CC1=C(C(=NO1)C)COC(=O)C2=CC(=C(N=C2)Cl)Cl
126  1357612    CC1=CC(=CC(=C1)OCC(=O)N2CCN(CC2)C3=CC=CC=C3OC)C
127  6362905   C1=CC=C(C=C1)S(=O)(=O)N=C2N(C(=C(S2)C=O)Cl)CCCCl
128  5094436  C1C(=O)NC2=C(O1)C=CC(=C2)C(=O)COC(=O)C3=CC(=C(...

[129 rows x 2 columns]

In [5]:
smiles = df.pop('CanonicalSMILES')
df.insert(0, 'CanonicalSMILES', smiles)
df

                                       CanonicalSMILES      cid
0      CC1=C2C(=CC=C1)C=C(C(=N2)NCCNC(=O)NC3CCCCC3)C#N   647846
1       CCCCOC(=O)CSC1=NN=C(O1)C2=CC(=C(C(=C2)OC)OC)OC   649054
2            CN1C(=CN=C1C2CC(=O)C3=C(O2)C=CC(=C3)Cl)Cl   657803
3                  CCCCCCN1C2=C(CCC2)C(=N)C3=C1CCC3.Br  6603435
4      CC(=O)C1=C(C2=C(S1)N=C(C=C2C(F)(F)F)C3=CC=CS3)N   661810
..                                                 ...      ...
124  CNC(=O)COC(=O)C1=CC=CC=C1C(=O)C2=CC(=C(C=C2)Cl...  2405263
125          CC1=C(C(=NO1)C)COC(=O)C2=CC(=C(N=C2)Cl)Cl  2124454
126    CC1=CC(=CC(=C1)OCC(=O)N2CCN(CC2)C3=CC=CC=C3OC)C  1357612
127   C1=CC=C(C=C1)S(=O)(=O)N=C2N(C(=C(S2)C=O)Cl)CCCCl  6362905
128  C1C(=O)NC2=C(O1)C=CC(=C2)C(=O)COC(=O)C3=CC(=C(...  5094436

[129 rows x 2 columns]

In [6]:
# creating a new directory in current directory for input and output descriptor files

os.mkdir('smi')
os.mkdir('des')

In [8]:
# creating a .smi file

df.to_csv('smi/alt_inactive.smi', sep = '\t', index = False, header = False)